p { 
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;

}
body{
    margin-bottom: 1000px;
    padding-top: 80px;
    padding-left:96px ;
    padding-right: 24px;
    background-color: #f9f9f9;;
}