.sidebar{
    position: fixed;
    left :0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    padding-left: 2px;
}
.sidebar-link{
   
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color:rgb(236, 233, 233);
    cursor: pointer;
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar div{
    font-family: ROboto,Arial;
    font-size: 10px;
   
}