

.thumbnail-1 {
    width: 100%;
  
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}



.video-info-grid{
    display:grid ;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
   
}

@media (max-width:770px){
 .video-grid{
    grid-template-columns: 1fr 1fr;
 }

}
@media(min-width:771px)and(max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
     }
}
@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
    
}
.profile-pic {
    width: 36px;

    border-radius: 25px;

}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);

}

.video-author {
    margin-bottom: 4px;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
  
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    }